.card {
  background-color: $white-base;
  padding: 40px 20px 20px 20px;
  margin-bottom: 20px;

  &__img {
    margin: 0 0 24px 0;
    text-align: center;
    align-self: center;
    justify-content: center;
  }

  &__title {
    @include montserrat(18px, 32px, 700);
    margin: 0 0 4px 0;
  }

  &__link {
    text-decoration: none;
    color: $black-base;
    text-align: start;
  }

  &__description {
    @include montserrat(14px, 20px, 400);
    margin: 0 0 16px 0;
    color: $black-base;
  }

  &__offer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__price {
    color: $black-base;
    @include montserrat(20px, 32px, 600);
    margin-right: 48px;
    vertical-align: middle;
  }

  &__button {
    @include montserrat(14px, 20px, 400);
    border: none;
    background-color: $primary-base;
    color: $white-base;
    padding: 8px 20px 8px 46px;
    border-radius: 4px;
    position: relative;

    &::before {
      content: "";
      width: 20px;
      height: 16px;
      position: absolute;
      background-image: url(../../img/cart-icon.svg);
      background-repeat: no-repeat;
      top: 10px;
      left: 20px;
    }
  }
}
