.features {
  margin-bottom: 0 0 36px 0;

  &__title {
    text-align: center;
    @include montserrat(24px, 36px, 700);
    margin: 0px auto 36px auto;
    color: $black-base;

    @media (min-width: $tablet-width) {
      @include montserrat(42px, 64px, 700);
      margin-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 80px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
    margin: 0;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 50px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 40px;
    }
  }

  &__item {

    &:last-child {
      margin-bottom: 32px;
    }

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: min-content min-content;
      column-gap: 20px;

      &:last-child {
        margin-bottom: 100px;
      }
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      &:last-child {
        margin-bottom: 120px;
      }
    }

    & img {
      @media (min-width: $tablet-width) {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 24px;
      }
    }
  }

  &__name {
    @include montserrat(18px, 32px, 700);
    margin: 10px 0 4px 0;
    color: $black-base;

    @media (min-width: $tablet-width) {
      @include montserrat(24px, 36px, 700);
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      text-align: start;
      margin: 0 0 10px 0;
    }

    @media (min-width: $desktop-width) {
      text-align: center;
    }
  }

  &__subtitle {
    @include montserrat(14px, 20px, 400);
    color: $black-base;
    margin: 0 0 32px 0;

    @media (min-width: $tablet-width) {
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      text-align: start;
      margin: 0;
      @include montserrat(16px, 24px, 400);
    }

    @media (min-width: $desktop-width) {
      text-align: center;
    }
  }
}
