.header {

  &__wrapper {
    display: flex;
    align-items: center;
    height: 60px;
  }

  &__logo {
    text-decoration: none;
    width: 32px;
    height: 36px;
    margin-right: 80px;

    @media (min-width: $tablet-width) {
      margin-right: 67px;
      width: 82px;
      height: 36px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 20px;
      width: 170px;
      height: 36px;
    }
  }

  &__logo-img {

    @media (min-width: $tablet-width) {
      width: 82px;
      height: 36px;
    }

    @media (min-width: $desktop-width) {
      width: 170px;
      height: 36px;
    }
  }

  &__text {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      color: $black-base;
      @include montserrat(12px, 16px, 400);
      margin-right: 162px;
    }
  }
}
