.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 349px 349px;
      column-gap: 30px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}
