// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;

// Base colors
$white-base: #ffffff;
$black-base: #333333;
$primary-base: #7859cf;
$grey-base: #bdbdbd;
$pink-base: #f0ebff;

// Background colors
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$gray-espresso: #e5e6e8;
$lightest-grey: #f8f8f8;

// Alt Colors
$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-lighter: #9070EC;
$primary-darker: #593CAC;
$light-grey: #e2e2e2;
